#webcoderskull{
    position: absolute;
    top: 0%;
    width: 100%;
  }
  
  canvas{
    height:100vh;
    background: linear-gradient(135deg, #ff6c3f 0%, #59fe43 100%);
    /* background: url(../../files/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }